#login-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#login-container form {
  padding-top: 20px;
}

nav{
  background-color: #fff;
}

nav, main{
  padding-left: 250px;
}

@media only screen and (max-width : 992px) {
  nav, main{
    padding-left: 0;
  }
}

.side-nav{
  width: 250px;
  background-color: #263947;
}

body{
  background-color: #EBEFF2;
}

