<div class="side-nav fixed">
    <div class="userView">
            <div class="background">
                    <img src="img/login-bg.jpg"/>
            </div>
            <a><p class="white-text name light">{{user.nombre}} {{user.apellido}}</p></a>
            <a><p class="white-text email light">{{role}}</p></a>
    </div>
    <ul>
        <li ng-repeat="item in menuItems">
            <a href={{item.ref}} class="white-text" ><p class="light">{{item.item}}</p></a>
        </li>
        <li>
            <a href="#" class="white-text" ><p class="light dropdown-button" data-activates='dropdown1'>{{dropdownButton}}</p></a>
        </li>
    </ul>
    <ul id='dropdown1' class='dropdown-content'>
        <li ng-repeat="item in dropdownItems"><a href="{{item.ref}}">{{item.item}}</a></li>
    </ul>
</div>


