<div class="side-nav fixed">
    <div class="userView">
            <div class="background">
                    <img src="img/login-bg.jpg"/>
            </div>
            <a href="#!name"><p class="white-text name light">John Doe</p></a>
            <a href="#!email"><p class="white-text email light">Director</p></a>
    </div>
    <ul>
        <li><a href="#!" class="white-text"><p class="light">Inicio</p></a></li>
        <li><a href="#!" class="white-text"><p class="light">Colaboradores</p></a></li>
        <li><a href="#!" class="white-text" ><p class="light dropdown-button" data-activates='dropdown1'>Catálogos</p></a></li>
    </ul>
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!"><i class="material-icons">view_module</i>Indicadores</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>Penalizaciones</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>Puntos Extras</a></li>
    </ul>
</div>


